<!-- <div class="todo-list">
  <header class="header">
    <span class="glyphicon glyphicon-list-alt"></span>
    <div class="title">
      <form role="form">
        <input type="text" class="form-control" />
      </form>
      <p>Example Todo list view</p>
      <div class="edit-trash">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="separator">|</span>
        <span class="glyphicon glyphicon-trash"></span>
      </div>
    </div>
  </header>
  <section class="create-task">
    <span class="glyphicon glyphicon-plus"></span>
    <form role="form" class="form-task">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Start typing here to create a task...">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button">Add task</button>
          </span>
      </div>
    </form>
  </section>
  <section class="tasks">
    <ul class="tasks-list">
      <li>
        <div class="task">
          <input class="toggle" type="checkbox">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          <div class="edit-trash-task">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="separator">|</span>
            <span class="glyphicon glyphicon-trash"></span>
          </div>
        </div>
      </li>
      <li class="done">
        <div class="task">
          <form role="form">
            <input type="text" class="form-control" />
          </form>
          <div class="view">
              <input class="toggle" type="checkbox" checked>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
-->

<div id="main">

</div>




